<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='proCss/proCss.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/baseCss.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Tiempo</title>
</head>
<body>
    <nav class="header">
    <form action="/" method="post" class="formulario">
        <input type="text" name="provincia" id="provincia" placeholder="Introduce la provincia">
        <input type="submit" value="Buscar" class="boton">
    </form>
    </nav>
    
    {%block content%}
    <!-- Contenido aqui -->
    <h1>El tiempo en las provincias de España</h1>
    {%endblock%}
</body>
</html>